@import "vendor/reset";
@import "vendor/font-awesome/font-awesome.scss";
@import "variables";
@import "mixins";
@import "grid";
@import "typography";

html {
	box-sizing: border-box;
	font-size: $type-base;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	@include archerBook;
	font-size: $type-base;
	font-size: 1rem;
	color: $white;
	background: $body;

	&._detail {
		color: $body;
		background: $white;
	}
}

// Components
@import "components/Button";
@import "components/Tag";
@import "components/PageAlert";
@import "components/Event";
@import "components/EventWidget";
@import "components/Color";

// Layout
@import "layout/structure";

// Views
@import "views/home";
@import "views/eventdetail";
@import "views/styleguide";
