.view.home {
  > .upcoming {
    @include csgoegg-u-3-4;
    padding: 0 $major 0 0;

    /* Move to typography? */
    > .smalltitle {
      @include xsmallcaps;
      margin: 0 0 $minor 0;
    }
  }
  > .filtering {
    @include csgoegg-u-1-4;

    > .widget {
      margin: 0 0 $major 0;

      > .smalltitle {
        @include xsmallcaps;
        margin: 0 0 $minor 0;
      }
      &._tags {
        > ul li {
          margin: 0 0 $small 0;
        }
        .Tag {
          display: block;
        }
      }
    }
  }
}
