<header class="north">
	<div class="boundary">
		<a href="{{ siteUrl }}" class="logo">{{ siteName }}</a>
		<nav>
			<ul>
				<!--<li>
					<a href="{{ url('photos') }}" {% if craft.request.firstSegment == 'photos' %}class="active"{% endif %}>Photos</a>
				</li>
				<li>
					<a href="{{ url('events') }}" {% if craft.request.firstSegment == 'events' %}class="active"{% endif %}>Upcoming</a>
				</li>
				<li class="highlight">
					<a href="{{ url('submit') }}" {% if craft.request.firstSegment == 'submit' %}class="active"{% endif %}>Submit Your Event</a>
				</li>-->
			</ul>
		</nav>
	</div>
</header><!-- /.north -->
